<mat-card class="workersForm">
  <h2 class="workersFormTitle">{{title}}</h2>
  <form (ngSubmit)="submitForm($event)" [formGroup]="form">
    <mat-form-field class="full-width">
      <input formControlName="name" matInput placeholder="Full Name" value="{{worker.name}}">
      <mat-error>At least 4 characters</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select  placeholder="Gender" formControlName="gender" value="{{worker.gender}}">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
      </mat-select>
      <mat-error>Required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea
        formControlName="contactInformation"
        matInput
        placeholder="Contact Information"
        value="{{worker.contactInformation}}">
      </textarea>
      <mat-error>At least 4 characters</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input type="number" formControlName="salary" matInput placeholder="Salary" value="{{worker.salary}}">
      <mat-error>Required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input formControlName="position" matInput placeholder="Position" value="{{worker.position}}">
      <mat-error>At least 4 characters</mat-error>
    </mat-form-field>

    <div class="form-footer">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
    </div>

  </form>
</mat-card>
