<ion-item-sliding>
  <ion-item>
    <ion-label>
      <h2>{{worker.name}}</h2>
      <p>{{worker.gender}}</p>
      <p>{{worker.position}}</p>
    </ion-label>
    <ion-note slot="end">
      {{worker.date | date: 'yyyy-M-dd hh:mm'}}
    </ion-note>
  </ion-item>

  <ion-item-options side="start" >
    <ion-item-option color="success" [routerLink]="['/worker-edit', worker._id]">
      <ion-icon slot="icon-only" name="create"></ion-icon>
    </ion-item-option>
  </ion-item-options>

  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="deleteWorker.emit(worker._id)">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
