<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-description>
      Search
    </mat-panel-description>
  </mat-expansion-panel-header>

  <form [formGroup]="searchForm">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="contactInformation" placeholder="Contact information">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="salary" placeholder="Salary">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="position" placeholder="Position">
    </mat-form-field>

    <mat-form-field>
      <input formControlName="dateFrom" matInput [matDatepicker]="picker" placeholder="Date From">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="dateTo" matInput [matDatepicker]="picker1" placeholder="Date To">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field >
      <mat-select formControlName="gender" placeholder="Gender">
        <mat-option value="">All</mat-option>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

</mat-expansion-panel>
